{% extends 'base.html.twig' %}

{% block title %}Nous contacter - Sac de fringues{% endblock %}

{% block content %}
    <h2>Nous contacter</h2>
    <p>Ce site est une application fictive afin de montrer un peu de mon travail.</p>
    <p>Ce site à était réalisé avec symfony 5 les vues sont en twig</p>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <strong>Concepteur GuihomeWebDev</strong>
            <hr>
            <a href="https://guihomewebdev.github.io">Mon cv en ligne</a><br/>
            <a href="https://github.com/GuihomeWebDev">Mon github</a><br/>
            <a href="https://guihome02.github.io/">Mon Portfolio</a><br/>
            
        </div>
    </div>

{% endblock %}
